body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2, h3 {
    margin-top: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.center {
    display:block; margin:0 auto;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

a.list-group-item {
    color: rgb(0, 0, 0);
}

article{
    border-radius: 4px;
    background-color: #ffffff;
    padding: 2em 3em;
    margin-bottom: .5em;
}

/* begin TASKS */
#spisokctf
{
    padding-top: 1em;
}
.all_task
{
    border: 1px solid;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0em 2em 1em 2em;
    margin-bottom: .5em;
}
/* end  TASKS */


/*  main header */
.bigtext
{
    display:inline;
    font-size:38px;
    vertical-align:middle;
    color:#000;
    text-decoration:none;
}
header
{
    padding-bottom:1em;
}
#header_main a, header a, a:hover, a:focus
{
    color:#000;
    text-decoration:none;
}

/*  terminal */
#webgl_nabla
{
    height:304px; /* 2:5 */
    background-color:#000;
    /*background-color: #99FF00;*/
    border-radius:.5em;
    margin-bottom:.5em;
}
#terminal
{
    border-radius:.5em;
    font-size: 12px;
}
#no_signal
{
    width:20%;
    padding-top:140px;
    text-align:center;
    margin:0 40%;
}

/*  unit interface */
.input_toogle
{
    width:20px;
    height:20px;
    float:right;
    background-color:#ccc;
}
#input_tab2
{
    display: none;
}

#stick
{
    display:block;
    min-height:250px;
    line-height:1.5;
    border:0;
    border-radius:5px;
    background:linear-gradient(#F9EFAF,#F7E98D);
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:box-shadow .5s ease;
    font-smoothing:subpixel-antialiased;
    padding:25px 25px 40px;
}

@media (min-width: 1200px) {
    .tab-pane>article {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    }
    #service_list {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}


.input-prepend input
{
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#unit_edit {
    height: 50em;
    font-family: monospace, serif;
    font-size: 14px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
}

.nav>li>a {
    padding: 8px 12px;
}

.form-control textarea {
    font-size:26px;
}

.thumbnail {
    height: 23em;
}


textarea::-webkit-scrollbar{
    width:12px;
    background-color: #ddd;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
textarea::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
textarea::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

.field {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 15px;
    margin: 0 -15px 15px;
}

#map {
    width: auto;
    height: 45em;
}

.table {
    background-color: #ffffff;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pre-scrollable {
    max-height: 32em;
}

.navbar-form {
    margin-right: -15px;
    margin-top: 8px;
    padding: 10px 15px
}

.tab-content {
    padding-top: 1em;
}

.panel .close {
    margin: 15px;
}
