{% extends 'WshellBundle::layout.html.twig' %}

{% block title %}Новости{% endblock %}

{% block main %}
    <article>
        <div>
            <h2>
                <small>2013 г. 24 мая, пятница</small>
            </h2>
        </div>
        <p>Зарегистрировано доменное имя wshell.ru</p>
    </article>
{% endblock %}
