{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Meh.{% endblock %}

{% block menu %}
<li class="active"><a href="/">Главная</a></li>
<li><a href="/rating">Рейтинг</a></li>
{{ parent() }}
{% endblock %}


{% block main %}

{% endblock %}
