parameters:
    mongo_url: mongodb://mongo:27017
    mongo_user: wshell
    mongo_password: secret

    realm: realm1
    wampUrl: ws://172.25.0.101:5554

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 6ab188a8eb1959452ff42101d91adce1e6857fd4
    oauth.github:
            id: 8090a78af82436ec9019
            secret: 47e05652460ac0334bdb0cf24fada4dc0484f5df
            redirect: http://wshell.dev/oauth/github
